astroid
backcall
colorama
cycler
decorator
h5py
imageio
ipykernel
ipython
ipython-genutils
isort
jedi
jupyter-client
jupyter-core
Keras
kiwisolver
lazy-object-proxy
matplotlib
mccabe
networkx
numpy
opencv-python
pandas
parso
pickleshare
Pillow
plotly
prompt-toolkit
Pygments
pylint
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
retrying
scikit-image
scipy
six
tifffile
tensorflow
toml
tornado
traitlets
wcwidth
wrapt
