<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handwritten Mathematical Expressions</title>
<style></style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>


<body>
<h1>Handwritten Mathematical Expressions </a> </h1>


<hr>



<br>
<p>File uploaded successfully.</p>
<br>
<p>Calculating......</p>
<br>
<p>We will redirect you to the page once your result is ready.</p>

<script>
    

    console.log("hi")


    $.ajax({
	  type: "POST",
	  url: "/trigger-python",
	  //data: { param: text}
	}).done(function( o ) {
	   alert('Calculation Finished');
	   window.location.href = 'http://127.0.0.1:5000/result';
	});


</script>


<br>
<hr>
<p>Developed by Summer Ai, Runting Shao, Ningji Shen, Chang Xu and Zihui Zhang at the University of Washington.</p>
<p>All Rights Reserved.</p>



</body>
</html>
